.download-panel-header {
    display: flex;
    justify-content: flex-start; /* right-aligned button */
    align-items: center;
    margin-bottom: 8px;
  }
  
  .download-panel-text {
    margin: 0 0 8px 0;
    font-size: 14px;
    color: var(--gray-800);
  }
  
  .download-btn {
    display: inline-block;
    background-color: var(--blue-primary);
    color: var(--gray-200);
    font-size: 14px;
    padding: 6px 12px; /* shorter */
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
  }
  
  .download-btn:hover {
    background-color: var(--blue-secondary);
  }
  