.overview-grid {
  margin-top: var(--spacing-xl);
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--spacing-lg);
  flex-wrap: nowrap;
}

.grid-card {
  flex: 0 0 30%;
  max-width: 360px;
  min-width: 280px;
  background-color: var(--white);
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.grid-card:hover {
  box-shadow: var(--shadow-md);
  transform: translateY(-2px);
}

.grid-card h3 {
  font-size: var(--font-size-md);
  font-family: var(--font-heading);
  margin-bottom: var(--spacing-xs);
  color: var(--blue-primary);
}

.grid-card p {
  font-size: var(--font-size-sm);
  font-family: var(--font-body);
  color: var(--gray-800);
  line-height: 1.4;
  margin-top: var(--spacing-xs);
}

@media (max-width: 780px) {
  .overview-grid {
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: 0 var(--spacing-sm);
    flex-wrap: nowrap;

  }

  .grid-card {
    width: 100%;
    max-height: 120px;
    max-width: none;
    padding: var(--spacing-sm); /* smaller padding on mobile */
  }

  .grid-card h3 {
    font-size: var(--font-size-md); /* 16px */
    margin-bottom: var(--spacing-xs); /* 4px */
  }

  .grid-card p {
    font-size: var(--font-size-sm); /* 14px */
    line-height: 1.4;
    margin-top: var(--spacing-xs); /* 4px */
  }
}
